.layout {
  height: 600px;
}

.layout-nav {
}

.layout-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  background: #2121a2;
  align-items: center;
  list-style: none;
}

.layout-nav ul li ~ li {
  margin-left: 20px;
}

.layout-nav ul li a {
  color: white;
  text-decoration: none;
}

.layout-content {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-footer {
  height: 100px;
  background: #0e596b;
  text-align: center;
  line-height: 100px;
  color: white;
}

.layout-page-b a {
  text-decoration: none;
  color: white;
}
